html, body {
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: sans-serif;
}

#content {
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
    padding: 10px;
}

#topbar {
    background-color: #e53737;
    width:100%;
    display:flex;
}

#topbar a {
    color: white;
    padding:8px;
}

#nav {
    float: left;
    width: 20%;
    margin: 0;
}

#nav ul {
    margin: 0;
    padding: 0;
    border-right: 1px dashed gray;
}

#nav li {
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#text {
    float: right;
    width: 80%;
}



#nav a, a:visited {
    color: #e53737;
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}

#nav li:hover {
    background-color: #1c1c1c;
}

#tab {
    padding-right:20px;
}